<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Brand / People Demo Application</h1>
        <div class="section editor">
            <label for="fname">First Name
                <input id="fname" type="text" />
            </label>
            <br />
            <label for="lname">Last Name
                <input id="lname" type="text" />
            </label>
            <br />
            <button id="create">Create</button>
            <button id="update">Update</button>
            <button id="delete">Delete</button>
            <button id="reset">Reset</button>
        </div>
        <div class="people">
            <table>
                <caption>People</caption>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Update Time</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    <!-- Brand Selector-->
    <div class="selection editor">
        <label for="bname">Brand Name
            <input id="bname" type="text"/>
            
        </label>
        <br />
        <!-- Change for Brand CRUD-->
        <button id="b_create">Create</button>
        <button id="b_update">Update</button>
        <button id="b_delete">Delete</button>
        <button id="b_reset">Reset</button>
    </div>
    <!-- Brand Selector by ASIN-->
    <div class="selection editor">
        <label for="asin">Brand ASIN Creation
            <input id="asin" type="text"/>
        </label>
        <br />
        <!-- Change for Brand Creation through ASIN-->
        <button id="ba_create">Create</button>
    </div>
    <!--Divider for Brand Table-->
    <div class="brand">
        <table>
            <caption>Brand</caption>
            <thead>
                <tr>
                    <th>Brand Name</th>
                    <th>Update Time</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="error">
    </div>
    <!--End of Container-->
    </div>
</body>
<script src="static/js/home.js"></script>
</html>